<div class="job_description_wrapper">
  <div class="header job_description">Company Description</div>
  <div>
    <%= @job.company_description %>
    <%#= render inline: @job.company_description %>
  </div>
  <div class="header company_description">Job Description</div>
  <div>
    <%#= render inline: @job.description %>
  </div>
</div>

<style>
.job_description_wrapper {
  padding: 0 50px;
}

.header {
  padding: 10px 0;
}
</style>
