/*  
 *= require_tree .
 *= require_self
 */

body {
  display: flex;
  justify-content: center;
}

.bold {
  font-weight: bold;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;
}

.divider {
  border-bottom: 1px solid silver; 
  margin: 4px 0;
}
